* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  border: 5px solid red;
}

.container {
  /* display: flex; */
}

form {
}

/* h1 {
  margin-bottom: 10px;
} */

input {
  border-radius: 10px;
}

/* .input-box i {
  position: absolute;
} */

.input-label {
  width: 100px;
  display: block;
}
